.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: 'Poiret One', sans-serif;
}

footer {
  margin-bottom: 15px;
}

footer p {
  font-size: 18px;
}

.user-color0 {
  background-color: #eff7ff;
}

.user-color1 {
  background-color: #effff7;
}

.user-color2 {
  background-color: #f7ffef;
}

.user-color3 {
  background-color: #fff7ef;
}

.user-color4 {
  background-color: #ffeff7;
}

.user-color5 {
  background-color: #f7efff;
}
