@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poiret+One&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url(/img/background-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  height: 100%;
}
