
.room .wrapper1 {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f8fafb;
  color: #1A2027;
  margin-bottom: 20px;
  padding: 5px 20px 20px 20px;
}

.room .wrapper1 > p {
  text-align: right;
  margin-bottom: 10px;
  font-size: 2vh;
}

.room .wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.room .username {
  font-size: 2.5vh;
  height: 8vh;
  border: 1px solid darkgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
