.card-list {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  width: 80%;
  margin: 10px auto;
  /* background-color: #7fff7f; */
}

.card-list > div {
  border: 1px dashed white;
  padding: 5px;
  height: 16vh;
  width: 27vh;
}