.card {
  background-image: url(/img/frame.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid gray;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}